<div class="mt-4">
    <form>
    <div class="row mb-3">
        <label for="search-input" >Nhập tìm kiếm</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa....">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>